#Ignoring files and folders by github

#build directories
bin
build
lib
sconsbuild
local
tools/cache
tools/cmaps
bindings/python/src/pyforefire.egg-info
#python
__pycache__
venv
# compilation files
*.dblite
*.o
*.so

# editors
.vscode

#mac files
**/.DS_Store

# jupyter notebooks checkpoints
.ipynb_checkpoints

#docs
docs/doxygen/xml
docs/doxygen/html

# build
CMakeLists.txt
build.sh

#other
tools/postprocessing/loadInParaview.py
tests/config_firecast_local.bash
tools/config_firecast_local.bash
tests/python/FF_FS4roslog.csv
.gitignore
tests/python/ros_computation.py
tests/python/ros_sampling.py
tests/python/test_logdb.csv
tests/runff/altitude.png
tests/runff/httpConnectInfo.txt
tests/python/log.txt
tests/python/runROS.bash
changeLicense.py
httpConnectInfo.txt
