#Ignoring files and folders by github

#build directories
bin
build
lib
sconsbuild
local
tools/cache
tools/cmaps
bindings/python/src/pyforefire.egg-info
#python
__pycache__

# compilation files
*.dblite
*.o
*.so

# editors
.vscode

#mac files
**/.DS_Store

# jupyter notebooks checkpoints
.ipynb_checkpoints

CMakeLists.txt
