# Core documentation generator
sphinx>=8.1,<9.0

# Theme for Read the Docs
sphinx-rtd-theme>=3.0,<4.0

# Doxygen/C++ integration
breathe>=4.36,<5.0

# A dependency for the RTD theme
sphinxcontrib-jquery